# requests==2.31.0
# SPARQLWrapper==2.0.0
# typing==3.7.4.3
# svgling==0.4.0
# subprocess.run==0.0.8
# psycopg2==2.9.9
# run-subprocess==0.9.1
requests
SPARQLWrapper
typing
svgling
subprocess.run
psycopg2-binary
run-subprocess
