node_modules
.rasa/
.vscode/
abacws_chatbot_env/
node_modules/
visulization_3d/
abacws-chatbot-venv/
gitpat.txt
my_password.txt
abacws-smat-building.pem
abacws-smart-building.pem
abacws.visualizer.pem