node_modules/
Transformers/
.rasa/
.vscode/
abacws_chatbot_env/
visulization_3d/
abacws-chatbot-venv/
gitpat.txt
my_password.txt
abacws-smat-building.pem
abacws-smart-building.pem
abacws.visualizer.pem
.gitattributes
graphDB/
.conda/
.github/
.vscode/
apache_jena/
brick/
brickly/
dummy-data-provider/
examples/
flask-python/
graphDB/
node_modules/
notebooks/
OWL/
recordings/
abacws.rar
abacws.zip
apache_jena_documentation.txt
apache-jena-fuseki-4.9.0.tar.gz
commands.txt
readmefile.text
root_rule_chaintingsboard.json
sample.sparqlbook
samplecode.ipynb
setting environment.ipynb
sparqlbook1.sparqlbook
virtual.abacws.cardiff.pem
virtual.abacws.cardiff.rar
workingofchatbot.ipynb
